<a href="https://colab.research.google.com/github/castrooyoo/Data-analysis/blob/master/BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DATA TYPES
###### - Lists
###### - tuples
###### - dictionaries
###### - string
###### - numbers

### string

##### Assigning a string to a variable is done with the variable name followed by an equal sign 
##### and the string:

In [0]:
a = "Hello"
print(a)

In [0]:
### for the case of multilines(paragraghs) we use three quotes
a = """Data Science is the best thing,
Soon Quantum computing AI will come to reality,
This would make our lives simple. 
"""
print(a)

#### single character is simply a string with a length of 1
#### Square brackets can be used to access elements of the string

In [0]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

In [0]:
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

In [0]:
# Negative Indexing
# Get the characters from position 5 to position 1, starting the count from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

In [0]:
# To get the length of a string, use the len() function
a = "Hello, World!"
print(len(a))

#### String Methods

In [0]:
# Strip method removes white spaces from the beginning or the end of string
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [0]:
# Converting the string to lower case, upper case,capitalize the First character or caps the first letter in each word
import string
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.capitalize())
print(string.capwords(a))

In [0]:
# Replace method 
a = "Hello, World!"
print(a.replace('H','J'))

In [0]:
# split method 
a = "Hello, World!"
print(a.split(','))

In [0]:
# Check String
txt = "The rain in Spain stays mainly in the plain"
x = "rain" in txt
print(x)

In [0]:
# Check not String
txt = "The rain in Spain stays mainly in the plain"
x = "rain" not in txt
print(x)

In [0]:
# String Concatenation
# Merge variable a with variable b into variable c
a = "Hello"
b = "World"
c = a + b
d = a + " " + b
print(c)
print(d)

### String Format

In [0]:
age = 36
# txt = "My name is John, I am " + age
# print(txt)

In [0]:
text = "My name is John, I am  {}".format(age)
txt = f"My name is John, I am  {age}"
print(txt)
print(text)

In [0]:
quantity = 3
itemno = 567
price = 49.95
myorder = f"I want {quantity} pieces of item {itemno} for {price} dollars."
print(myorder)

### numbers

In [0]:
# there are three numeric types
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

##### Type Conversion

In [0]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

In [0]:
# Import the random module, and display a random number between 1 and 9:
import random
print(random.randrange(1,10))

### Operations

In [0]:
x + y #Addition
x - y #subtraction
x * y #multiplication
x / y #Division
x**y #exponential
x//y ##floor ...the floor division // rounds the result down to the nearest whole number

# comparison
x == y #equal
x != y #not equal
> #greater
< #less than
>= #greater or equal to
<= #less or equal to

#and, or,
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

### Lists

In [0]:
# A list is a collection which is ordered and changeable. In Python lists are written with square brackets
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [0]:
# access items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [0]:
#adding items to a list
thislist = ["apple", "banana", "cherry"]
thislist.append("ovacado") #inserts at the end of the list also extend() and loop
print(thislist)
thislist.insert(1,'potato') #inserting at a given position
print(thislist)
thislist.remove("banana")
print(thislist)

In [0]:
#range
thislist =["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(len(thislist))

### tuples

In [0]:
# A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [0]:
print(thistuple[1])

In [0]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

#### once tuple is created you cannot add items to it (unchangeable)

### sets

In [0]:
# A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

#### You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

### dictionaries

In [0]:
# A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["model"])
print(thisdict.get("year"))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
1964

In [0]:
# Change values
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

## Conditions

### if....Else

In [0]:
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [0]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [0]:
#In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

### Else

In [0]:
# The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [0]:
#In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

In [0]:
if a > b: print("a is greater than b") # in one statement

a is greater than b

In [0]:
a = 2
b = 330
print("A") if a > b else print("B")
# If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

B

In [0]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [0]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [0]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [0]:
# Nested If
# You can have if statements inside if statements, this is called nested if statements.

In [0]:
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

### while loop

In [0]:
# With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The break Statement
#### With the break statement we can stop the loop even if the while condition is true:

In [0]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

### The continue Statement
#### With the continue statement we can stop the current iteration, and continue with the next:

In [0]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [0]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

### For Loop

In [0]:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [0]:
#Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [0]:
#looping through string
for x in "banana":
      print(x)

b
a
n
a
n
a

In [0]:
# using break statement in for loop such that it stops when x is banana
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x) 
    if x == "banana":
        break

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [0]:
#Using the range() function
for x in range(6):
    print(x)

0
1
2
3
4
5

In [0]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [0]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [0]:
#Nested For Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### error exception

##### - ZeroDivisionError - occurs 1/0
##### - TypeError - mispelling
##### - NameError - name not defined
##### -ValueError - inputing a wrong format besides the designed one

In [0]:
x=1
y=0
try:
   print(x/y)
except ZeroDivisionError:
    print('it is not divisible')

it is not divisible

### Applicationin building a simple calculator

### Project 1

###### we have been tasked to build a calculator

In [0]:
# we start by input what to be calculated
number_1 = input('Enter your first number: ')
number_2 = input('Enter your second number: ')

Enter your first number:  1
Enter your second number:  2

In [0]:
# we have to restrict how we want the user to input...that is we want to work with integers strictly
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

Enter your first number:  1
Enter your second number:  2

In [0]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

### lets perform one calculation using addition operator
print('{} + {} = '.format(number_1, number_2)) # to make it a string
print(number_1 + number_2) #outputs the sum of the two numbers

Enter your first number:  1
Enter your second number:  2

1 + 2 =
3

In [0]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

# Addition
print('{} + {} = '.format(number_1, number_2))
print(number_1 + number_2)

# Subtraction
print('{} - {} = '.format(number_1, number_2))
print(number_1 - number_2)

# Multiplication
print('{} * {} = '.format(number_1, number_2))
print(number_1 * number_2)

# Division
print('{} / {} = '.format(number_1, number_2))
print(number_1 / number_2)

Enter your first number:  1
Enter your second number:  2

1 + 2 =
3
1 - 2 =
-1
1 * 2 =
2
1 / 2 =
0.5

In [0]:
## we do not want the calculator to calculate all, let it calculate based on the user's choice of operation
# 1st lets create ... such that calculator ask the user to input the operator he wants to use for calculation
# 2nd let the program pick and print only that operation...here we will introduce if...statements

operation = input('''
Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
''')

number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

if operation == '+':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 + number_2)

elif operation == '-':
    print('{} - {} = '.format(number_1, number_2))
    print(number_1 - number_2)

elif operation == '*':
    print('{} * {} = '.format(number_1, number_2))
    print(number_1 * number_2)

elif operation == '/':
    print('{} / {} = '.format(number_1, number_2))
    print(number_1 / number_2)

else:
    print('You have not typed a valid operator, please run the program again.')

Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
 +
Enter your first number:  3
Enter your second number:  5

3 + 5 =
8

In [0]:
# greetings to our user     
def welcome():
    print('''Welcome to Calculator...''')
    
# Define our function
def calculate():
    operation = input('''
Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
''')

    number_1 = int(input('Please enter the first number: '))
    number_2 = int(input('Please enter the second number: '))
    if operation == '+':
        print('{} + {} = '.format(number_1, number_2))
        print(number_1 + number_2)

    elif operation == '-':
        print('{} - {} = '.format(number_1, number_2))
        print(number_1 - number_2)

    elif operation == '*':
        print('{} * {} = '.format(number_1, number_2))
        print(number_1 * number_2)

    elif operation == '/':
        print('{} / {} = '.format(number_1, number_2))
        print(number_1 / number_2)

    else:
        print('You have not typed a valid operator, please run the program again.')
    again()
    
# Define again() function to ask user if they want to use the calculator again
def again():

    # Take input from user
    calc_again = input('''Do you want to calculate again? Please type Y for YES or N for NO....''')

    # If user types Y, run the calculate() function
    if calc_again.upper() == 'Y':
        calculate()

    # If user types N, say good-bye to the user and end the program
    elif calc_again == 'N':
        print('See you later.')

    # If user types another key, run the function again
    else:
        again()
        
# Don’t forget to call the function
welcome()
calculate()

Welcome to Calculator...

Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
 +
Please enter the first number:  1
Please enter the second number:  3

1 + 3 =
4

Do you want to calculate again? Please type Y for YES or N for NO.... N

See you later.

#### GREAT JOB TEAM!!!!!